@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto Condensed", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;

}

body{
    width: 100%;
    height: 100vh;
    background-image: url(image/image/fundo2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;

}

.container{
    max-width: 1280px;
    margin:0 auto;
    padding: 6%;
}

form{
    background-color: rgb(120,184,195,0.867);
    max-width: 500px;
    height: 450px;
    padding: 40px;
    border-radius: 10px;
}

form h1{
    text-align: center;
    margin-bottom: 10px;
    color:rgba(20, 78, 202, 0.801);
    font-size: 22px;
}

form p{
    text-align: center;
    margin-bottom: 25px;
}

form .input-single{
    position: relative;
    margin:30px 0;
}

form .input-single label{
    position: absolute;
    left:0;
    bottom: 5px;
    cursor: text;
    transition: all 0.5s;
    color:rgb(94, 43, 14);
}

form .input-single .input{
    width: 100%;
    border: 0;
    border-bottom: 2px solid rgb(40, 205, 247);
    padding: 5px;
    outline: 0;
    font-size: 16px;
    border-radius: 5px;
    background-color: rgba(167, 255, 255, 0.808);
}

form .input-single .input:focus{
    border-bottom: 2px solid rgba(82, 82, 255, 0.788);
}

form .input-single .input:focus ~ label,
form .input-single .input:valid ~ label{
    transform:translatey(-25px);
    font-size: 12px;
    color:rgba(82, 82, 255, 0.788);
}

form .btn .submit{
    width: 100%;
    height: 50px;
    font-size: 15px;
    background-color:rgba(20, 78, 202, 0.801);
    border-radius: 5px;
    border-color: transparent;
    cursor: pointer;
    transition: all 0.5s;
    transform:translate3d(10px)
}

form .btn .submit:hover{
    background-color: rgba(136, 136, 252, 0.788);
}

form .btn .submit:active{
    background-color: rgba(182, 182, 255, 0.788);
}
